[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #ff0000;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:checked + label:before {
    border: 1px solid #ff0000;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.form-group [type="checkbox"]:checked,
.form-group [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form-group [type="checkbox"]:checked + label,
.form-group [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.form-group [type="checkbox"]:checked + label:before,
.form-group [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.form-group [type="checkbox"]:checked + label:after,
.form-group [type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #ff0000;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-group [type="checkbox"]:checked + label:before {
    border: 1px solid #ff0000;
}

.form-group [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form-group [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


@media (min-width: 1200px) {
    .container {
        width: 1195px;
    }
    .text-lien-ket-mxh{
        margin-left: 232px;
    }
    .text-nguoi-giam-ho{
        margin-left: 184px;
    }
}

@media (max-width: 360px) {
    #view_relate .owl-carousel .owl-item img.owl-lazy {
        transform-style: preserve-3d;
        height: auto !important;
    }

    .box_relate .nav-tabs > li a {
        font-size: 11px !important;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 48px;
    }
    .box_send_comment img {
        height: 40px;
    }
    .box_detail .auth span {
        display: inline-block;
    }

    .box_detail p.date {
        font-size: 12px;
    }

    .list_item li h3 a {
        height: 58px;
    }

    .footer_left a img {
        height: 35px !important;
    }

    #back-top {
        bottom: 3px;
        right: 3px;
        width: 40px;
    }

    .description img {
        height: auto !important;
    }

    .magazine .box-slider {
        padding: 21px 0 15px;
    }

    #box_menu {
        display: block;
    }

    .header_scroll {
        display: none;
    }

    .left-header {
        display: none;
    }

    .top-header h1 {
        margin-top: 0;
        line-height: 25px;
    }

    .top-header h1 img {
        height: 24px;
    }

    .slogan {
        font-size: 13px;
        line-height: 20px;
    }

    .top-header {
        height: 48px;
    }

    #menu_icon {
        line-height: 48px;
    }

    .top-header .send_post {
        display: none;
    }

    #menu_icon img {
        height: 15px;
    }

    .icon_acc {
        line-height: 48px;
    }

    .menu {
        display: none;
    }

    .box-slider {
        overflow: hidden;
        padding: 0;
    }

    .banner {
        padding: 10px 0;
    }

    .content-slider-features .fs-27 {
        font-size: 17px !important;
    }

    .content-slider-features {
        background: #fff;
        border-radius: 10px;
        padding: 10px 20px 1px;

    }

    .box-slider-features {
        margin-bottom: 0px;
    }

    .content-slider-features .item h3 a {
        font-size: 13px;
        font-weight: bold;
        display: block;
        text-align: center;
        padding: 8px 0px 0;
        line-height: normal;
        height: 40px;
        overflow: hidden;
    }

    .box-left .content-slider-features {
        margin-top: 10px;
    }

    .content-slider-features .owl-carousel .owl-nav .owl-prev {
        left: -28px;
        top: 18px;
    }

    .content-slider-features .owl-carousel .owl-nav .owl-next {
        right: -28px;
        top: 18px;
    }

    .box-cat {
        margin-top: 10px;
        padding: 10px 15px;
        border-radius: 10px;
        background: #fff;
    }

    .box-cat .fs-27 {
        font-size: 17px !important;
    }

    .box-cat h3.title {
        margin-bottom: 10px;
    }

    .big_item h3 a {
        font-size: 18px;
    }

    .big_item h3 {
        margin-bottom: 3px;
    }

    .box-cat .pl-0 {
        padding-left: 15px !important;
    }

    .box-cat .pr-0 {
        padding-right: 15px !important;
    }

    .list_item li h3 {
        margin-top: 15px;
        margin-bottom: 0;

    }

    .list_item li h3 a {
        font-size: 15px;
        line-height: 19px;
    }

    .box-cat .ml--10 {
        margin-left: 0px !important;
    }

    .box-cat .list_item {
        margin-top: 10px;
    }

    .box-ads.mt-20 {
        margin-top: 10px !important;
    }

    .box-social {
        /*display: none;*/
    }

    .box-right aside h3.title-aside {
        color: #000;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .box-right {
        margin-top: 10px;
    }

    .box-right aside {
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .menu_footer {
        display: none;
    }

    .box-right aside.tabs_side {
        display: none;
    }

    .box-right .banner_ads {
        margin-bottom: 10px;
    }

    .auth_feature ul li h3 a {
        font-size: 16px;
    }

    .auth_feature ul li p {
        color: #000;
        font-weight: 500;
        line-height: 14px;
        height: 54px;
        overflow: hidden;
        line-height: 17px;
    }

    .footer_left {
        margin-top: 14px;
        text-align: center;
        color: #fff;
        margin-bottom: 8px;
        font-size: 7px;
    }

    .footer_right {
        margin-top: 7px;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
        font-size: 7px;
    }

    .logo_f img {
        height: 28px;
    }

    .box-social a {
        padding: 0 3px;
        z-index: 99;
        position: relative;
        background: #fff;
        width: 33px;
        height: 33px;
        display: inline-block;
    }

    .box-social span {
        display: inline-block;
        padding: 0 6px;
        position: relative;
        z-index: 999;
        background: #fff;
    }

    .box-social:after {
        content: "";
        background: #000;
        height: 1px;
        width: 100%;
        top: 47%;
        left: 0;
        z-index: 9;
        position: absolute;
    }

    .box-social {
        background: #fff;
        border-radius: 15px;
        padding: 14px 0;
        margin-top: 10px;
        position: relative;
    }

    .content {
        padding-bottom: 10px;
    }

    .owl-slides.owl-carousel .owl-nav .owl-next {
        position: absolute;
        top: 34%;
        right: 0px;
        background: none;
    }

    .owl-slides.owl-carousel .owl-nav .owl-prev {
        position: absolute;
        top: 34%;
        left: 0px;
        background: none;
    }

    .owl-slides.owl-theme .owl-nav {
        margin: 0;
    }

    .owl-slides {
        height: 181px;
    }

    .owl-slides img {
        width: 100%;
    }

    .owl-slides.owl-carousel h3 a {
        display: block;
        min-width: 100%;
        height: 50px;
        color: #fff;
        font-family: Roboto;
        font-size: 13px;
        background: rgba(0, 0, 0, 0.6);
        padding: 8px;
        border-radius: 5px;
        text-transform: uppercase;
        text-align: center;
    }

    .owl-slides.owl-carousel h3 {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 45px;
        line-height: 18px;
        display: none;
    }

    header {
        background: #f3f3f3;
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
    }

    #box_menu {
        width: 275px;
        background: #f3f3f3;
        position: fixed;
        height: 100%;
        z-index: 9999;
        box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
        border-right: 1px solid #ddd;
        transform: translateX(-310px);
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        transition: all 0.4s linear;
        top: 0;
    }

    #box_menu.active {
        transform: translateX(0px);
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        transition: all 0.4s linear;
    }

    .box_menu_search {
        padding: 10px 0;
    }

    .box_menu_search input {
        height: 24px;
        line-height: 24px;
        box-shadow: none;
        padding: 3px 15px;
        border-radius: 20px;
        text-align: center;
    }

    .box_menu_search a {
        display: inline-block;
        text-align: center;
        min-width: 35px;
        line-height: 24px;
    }

    .box_menu_mobile ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .box_menu_mobile ul li span {
        padding: 0 12px;
    }

    .box_menu_mobile ul li ul {
        padding-left: 30px;
        display: none;
    }

    .box_menu_mobile ul li.has-child.active > ul {
        display: block;
    }

    .box_menu_mobile li > span {
        display: block;
    }

    .box_menu_mobile li.active > span a {
        font-weight: 700;
    }

    .box_menu_mobile li.has-child > span a img {
        position: relative;
        top: -2px;
    }

    .box_menu_mobile li.has-child.active > span i {
        color: #ba2026;
        cursor: pointer;
    }

    .box_menu_mobile li.has-child.active > span i:before {
        content: "\f068";
    }

    .box_menu_mobile li > span i {
        line-height: 30px;
    }

    .box_menu_mobile li a {
        line-height: 30px;
    }

    .social_menu {
        margin-top: 5px;
        padding: 0 10px;
        text-align: center;
    }

    .social_menu span {
        border: 1px solid #ba2026;
        border-radius: 20px;
        height: 26px;
        line-height: 26px;
        padding: 0 8px;
        display: inline-block;

    }

    .social_menu span.social_menu_first {
        height: 45px;
        line-height: 43px;
    }

    .social_menu span.social_menu_first a img {
        width: 40px;
    }

    .social_menu span.social_menu_last {
        margin-top: 10px;
        height: 32px;
        line-height: 29px;
    }

    .social_menu span a {
        text-transform: uppercase;
        line-height: 26px;
        font-family: "SVN-Nexa Light";
        font-size: 10px;
        color: #a71f23;
    }

    .social_menu span a img {
        width: 25px;
        position: relative;
        top: -2px;
    }

    .social_menu a {
        margin-right: 6px;
    }

    .social_menu a:last-child {
        margin-right: 0;
    }

    .modal-backdrop {
        display: none;
    }

    #login .close {
        opacity: 1;
        position: absolute;
        right: 5px;
        top: 30px;
    }

    #login .modal-title {
        font-family: "UTMNeutra";
        font-size: 22px;
        text-align: center;
    }

    #login .modal-content {
        border: 1px solid #ddd;
    }

    #login .modal-dialog {
        width: 290px;
        margin: 180px auto 0;
        box-shadow: 0px 0px 88px rgba(0, 0, 0, 0.6);
        border-radius: 10px
    }

    #login .modal-header {
        padding: 15px 0 0;
        border-bottom: 0;
    }

    #login .form_button button {
        border: 0;
        border-radius: 20px;
        background: #000;
        line-height: 39px;
        color: #fff;
        font-size: 12px;
        font-family: "SVN-Nexa Bold";
        font-weight: bold;
        text-align: center;
        min-width: 123px;
    }

    #login .box_login_after ul li {
        display: block;
        text-align: center;
        line-height: 15px;
    }

    #login .box_login_after ul li a {
        font-family: Roboto;
        font-weight: 400;
        color: #d50000;
        font-size: 12PX;
        line-height: 13px;
    }

    #login .avt_login a {
        width: 115px;
        height: 115px;
        display: inline-block;
        background: url(../img/bg_avatar.png) no-repeat;
        padding: 4px;
        background-size: 100%;
    }

    #login .slogan_user {
        font-family: Roboto;
        font-size: 12px;
        text-align: center;
        line-height: 13px;
        margin-bottom: 5px;
    }

    #login .social_user {
        margin-bottom: 5px;
    }

    #login .avt_login {
        text-align: center;
        margin-bottom: 5px;
    }

    header .avt_login a {
        width: 32px;
        height: 32px;
        display: inline-block;
        line-height: normal;
    }

    header .avt_login {
        text-align: center;
        margin: 0;
        margin-top: 7px;
    }

    .box_form h3 {
        font-size: 16px;
    }

    .post_avt.mt-20 {
        margin-top: 10px !important;
    }

    .avatar.btn_listpost button {
        font-size: 11px;
        font-weight: 900;
        border-radius: 20px;
        min-width: 92px;
        border-color: #ba1f23;
        line-height: 20px;
    }

    .avatar.btn_listpost button.post_new {
        font-size: 11px;
        font-weight: 900;
        border-radius: 20px;
        min-width: 90px;
        color: #fff;
        background: #ba1f23;
        line-height: 20px;
    }

    .avatar.btn_listpost {
        margin-bottom: 10px;
    }

    .box_form {
        border-radius: 10px;
        background: #fff;
        padding: 10px;
        margin-top: 15px;
    }

    .list_post_new table thead th {
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        line-height: 22px;
        font-family: Roboto;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 600;
    }

    .list_post_new table td {
        font-size: 12px;
        padding: 4px;
    }

    .list_post_new table td:last-child a img {
        width: 21px;

    }

    .paging li a {
        font-family: "UTMNeutra";
        font-size: 13px;
        padding: 0px 5px;
    }

    .paging li a i {
        font-size: 21px;
        position: relative;
        top: 3px;
    }

    .btn_guide a {
        padding: 0px 10px;
        line-height: 34px;
        font-family: UTMAvo-BoldItalic;
        font-weight: 900;
        display: inline-block;
        color: #ba1f23;
        border-radius: 20px;
        border: 1px solid #000;
        font-size: 10px;
    }

    .btn_guide a img {
        height: 14px;
        position: relative;
        top: -2px;
    }

    .box_breadcrum_mobile ul {
        list-style: none;
        padding: 0;
        white-space: nowrap;
        overflow: auto;
    }

    .box_breadcrum_mobile li span a {
        font-size: 13px;
        font-family: Roboto;
        font-weight: 700;
        text-transform: uppercase;
    }

    .box_breadcrum_mobile li {
        text-align: center;
    }

    .box_breadcrum_mobile li span a:last-child {
        font-weight: 400;
    }

    .box_breadcrum_mobile li span a:first-child {
        font-weight: 700;
    }

    .box_breadcrum_mobile li span i {
        color: #ba1f23;
        font-size: 16px;
        margin: 0 5px;
    }

    .box_breadcrum_mobile li ul li {
        display: inline-block;
        text-transform: uppercase;
    }

    .box_breadcrum_mobile li ul li a {
        font-size: 11px;
        margin: 0 7px;
    }

    .box_breadcrum_mobile li ul li.active a {
        color: #ba1f23;
    }

    .box_item .big_item {
        padding: 15px;
        border-radius: 12px;
        background: #fff;
        margin-top: 10px;
    }

    .box_item .big_item h3 a {
        font-size: 15px;
    }

    .box_item .big_item p.desc {
        font-size: 12px;
        line-height: 17px;
        height: 52px;
        overflow: hidden;
    }

    .paging {
        list-style: none;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 0;
    }

    .box_form h3.login_title {
        font-size: 12px;
        font-family: Roboto;
        text-transform: uppercase;
        font-weight: 900;
        margin-top: 5px;
    }

    .box_form h5 {
        font-family: "UTMNeutra";
        font-size: 20px;
        text-align: center;
    }

    .box_input input {
        border-radius: 20px;
        line-height: 30px;
        height: 30px;
        font-family: Roboto;
        text-align: left;
        font-size: 12px;
        border-color: #333;
        font-weight: 700;
    }

    .box_input {
        position: relative;
        display: block;
        margin-bottom: 5px;
        text-align: center;
    }

    .login_form button {
        background: #000;
        color: #fff;
        text-transform: uppercase;
        min-width: 97px;
        height: 30px;
        line-height: 30px;
        border: 0;
        font-family: SVN-Nexa;
        font-weight: 600;
        text-align: center;
        border-radius: 15px;
        font-size: 12px;
        width: 100%;
    }

    .box_btn_lg .col-xs-6:first-child {
        padding-right: 7px;
    }

    .box_btn_lg .col-xs-6:last-child {
        padding-left: 7px;
    }

    .forgot p label {
        font-size: 11px;
    }

    .forgot p {
        margin: 0;
        text-transform: uppercase;
        font-family: "SVN-Nexa Bold";
        font-size: 10px;
        text-align: center;
    }

    .box_btn_lg {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .guide_text {
        font-family: Roboto;
        font-weight: 600;
        font-size: 12px;
        text-align: center;
    }

    .box_form .avatar > a {
        display: inline-block;
        background: url(../img/bg_avt3.png) no-repeat;
        padding: 4px;
        width: 85px;
        height: 85px;
        overflow: hidden;
        background-size: 100%;
    }

    .avatar p {
        margin-top: 5px;
        margin-bottom: 0;
        font-family: Roboto;
        font-size: 10px;
        color: #000;
        font-weight: 600;
    }

    .content_form label {
        display: block;
        text-align: center;
        font-size: 12px;
        line-height: 18px;
    }

    .box_input span.error {
        font-size: 16px;
        position: absolute;
        right: 15px;
        line-height: 30px;
        z-index: 9;
        top: 4px;
    }

    .content_form .error {
        font-size: 10px;
        font-family: Roboto;
        color: #c20000;
        font-style: italic;
        font-weight: 600;
        display: block;
    }

    .box_form .avatar {
        text-align: center;
        margin-bottom: 10px;
    }

    .content_form .pl-0 {
        padding-left: 15px !important;
    }

    .content_form .form-group {
        margin-bottom: 0px;
    }

    .strength {
        font-family: SVN-Nexa;
        font-size: 11px;
        font-weight: 700;
        margin-top: 5px;
    }

    .strength i {
        margin-left: 5px;
        color: #32bb8f;
        font-size: 14px;
    }

    .avatar button {
        background: none;
        line-height: 20px;
        border-radius: 10px;
        border: 1px solid #ff0000;
        text-align: center;
        font-family: Roboto;
        font-weight: 600;
        font-size: 11px;
        text-transform: uppercase;
        min-width: 81px;
    }

    .box-date .col-xs-4:first-child {
        padding-left: 15px;
    }

    .box-date .col-xs-4 {
        padding: 0 6px;
    }

    .box-date .col-xs-4:nth-child(3) {
        padding-right: 15px;
    }

    .content_form select {
        border-radius: 6px;
        line-height: 30px;
        height: 30px;
        font-family: Roboto;
        text-align: center;
        font-size: 11px;
        border-color: #333;
        padding-left: 3px;
        padding-right: 3px;
    }

    .error_date {
        position: absolute;
        right: 28px;

    }

    .error_date span {
        line-height: 30px !important;
        font-size: 14px !important;
    }

    .box-date {
        margin-bottom: 6px;
    }

    .box_gender .col-xs-8 {
        text-align: left;
        padding-left: 0 !important;
    }

    .content_form .box_gender label {
        text-align: right;
    }

    [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 21px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
    }

    .link_title br {
        display: none;
    }

    .link_title {
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        color: #ba1f23;
        font-family: Roboto;
        font-weight: 900;
        line-height: 15px;
        margin-bottom: 0px;
    }

    .content_form label br {
        display: none;
    }

    .btn_res {
        background: #ba1f23;
        color: #fff;
        text-transform: uppercase;
        min-width: 115px;
        height: 30px !important;
        line-height: 30px !important;
        border: 0;
        font-family: Roboto;
        font-weight: 900;
        text-align: center;
        border-radius: 15px;
        font-size: 13px !important;
    }

    .btn_guide {
        margin: 10px -15px 5px;
    }

    .info_profile {
        margin: 0 !important;
    }

    .info_profile p {
        font-size: 12px;
        text-align: center;
    }

    .page_profile .box_item .col-sm-6.pr-10 {
        padding-right: 15px;
    }

    .box-left.page_profile .avatar p {
        margin-top: 5px;
        margin-bottom: 0;
        font-family: Roboto;
        font-size: 12px;
        color: #000;
        font-weight: 600;
    }

    .box_member {
        margin-top: 28px;
        margin-right: -40px;
    }

    .box_member p {
        font-size: 14px;
        font-family: Roboto;
        color: #a01d20;
        margin-bottom: 0;
        line-height: 23px;
        text-align: right;
    }

    .box_member span {
        font-family: Roboto;
        font-size: 16px;
        display: block;
        font-weight: 900;
        text-align: right;
    }

    .box-left.page_profile .avatar.btn_listpost p {
        margin-top: 37px;
        margin-left: -40px;
    }

    .page_profile .box_form {
        padding-bottom: 0;
        background: none;
    }

    .page_profile .box_form .avatar {
        margin: 0;
    }

    .page_profile .box_item {
        background: none;
    }

    .magazine .top-header h1 img {
        height: 37px;
    }

    .magazine .top-header h1 {
        line-height: 48px;
    }

    .box_title h2 {
        font-family: Roboto;
        font-weight: 300;
        font-size: 14px;
        line-height: 48px;
        text-transform: uppercase;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .box-banner_magazine {
        padding-top: 0;
    }

    .box_detail_magazine .box_detail {
        border-radius: 12px;
        background: none;
        padding: 30px 5px 20px;
    }

    .box_detail_magazine .content-slider-features .fs-27 {
        font-size: 13px !important;
    }

    .box_detail_magazine .content-slider-features {
        padding: 18px 20px 14px;
    }

    body .switch h3 {
        font-weight: 400;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: "SVN-Nexa Light";
        display: inline-block;
        float: left;
        margin-right: 8px;
    }

    body .switch {
        margin: 0;
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 19px;
    }

    body .box_detail .switch {
        margin: 0;
        display: inline-block;
        position: relative;
        /*right: 20px !important;*/
        top: 0;
        left: 0;
    }

    body .switch label {
        transition: all 200ms ease-in-out;
        display: inline-block;
        position: relative;
        height: 17px;
        width: 36px;
        border-radius: 20px;
        cursor: pointer;
        background-color: #ddd;
        color: transparent;
    }

    body .switch label:after {
        transition: all 200ms ease-in-out;
        content: " ";
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: white;
        top: 1px;
        left: 20px;
        right: auto;
    }

    .box_detail_magazine .content-slider-features .owl-carousel .owl-nav .owl-prev {
        left: -28px;
    }

    .box_detail_magazine .content-slider-features .owl-carousel .owl-nav .owl-next {
        right: -28px;
    }

    .box_detail_magazine .box_detail .auth span {
        font-size: 13px;
    }

    .box_detail_magazine .box_detail .auth span a {
        font-size: 13px;
    }

    .description {
        text-align: justify;
        font-size: 14px;
        font-family: Roboto;
    }

    .box_description_2 {
        padding-bottom: 53px;
    }

    .send_post_magazine {
        min-width: 120px;
        height: 35px;
        line-height: 35px;
        border-radius: 28px;
        border: 2px solid #c40000;
        display: inline-block;
        color: #c40000;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .send_post_magazine img {
        margin-left: 2px;
        position: relative;
        top: -3px;
        width: 27px;
    }

    .box_post_magazine .box_profile_detail iframe {
        margin-top: 8px;
    }

    .box_post_magazine {
        padding: 20px 0;
        border-top: 2px solid #c40000;
        border-bottom: 2px solid #c40000;
    }

    .box_detail_magazine .social_detail li a img {
        position: relative;
        top: -1px;
        margin-right: 1px;
        height: 10px;
    }

    .social_detail li {
        display: inline-block;
        float: left;
        height: 23px;
        padding: 0px 9px;
        border-radius: 15px;
        margin-right: 12px;
    }

    .box_detail_magazine .social_detail li a {
        font-family: SVN-Nexa;
        font-size: 9px;
        color: #fff;
        display: block;
        line-height: 23px;
    }

    .social_detail li {
        display: inline-block;
        float: left;
        height: 23px;
        padding: 0px 9px;
        border-radius: 15px;
        margin-right: 3px;
    }

    .social_share {
        margin-top: 20px;
        margin-bottom: 0;
    }

    h3.title.fs-28 {
        font-size: 16px !important;
    }

    .box_comment {
        border-radius: 20px;
        padding: 6px 15px;
        background: #fff;
    }

    .box_detail_magazine .item_reply > a {
        display: inline-block;
        float: left;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 6px;
    }

    .box_detail_magazine .item_reply .box_desc {
        padding-top: 0px;
        width: calc(100% - 70px);
        float: left;
        display: inline-block;
    }

    .box_detail_magazine .item_reply .box_desc h3 a {
        color: #da0000;
        font-family: Roboto;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
    }

    .box_detail_magazine .item_reply .box_desc p {
        font-size: 12px;
        font-family: Roboto;
        font-weight: 300;
        line-height: 15px;
        margin-bottom: 5px;
    }

    .box_detail_magazine .item_reply .box_desc h3 {
        margin-bottom: 0;
        line-height: 15px;
    }

    .box_send_comment form input {
        line-height: 40px;
        border-radius: 15px;
        height: 40px;
        margin-right: 8px;
        font-family: "SVN-Nexa Light";
        font-size: 14px;
    }

    h3.title.fs-36 {
        font-size: 18px !important;
    }

    .box_detail_magazine .box_item .big_item h3 a {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .box_detail_magazine .big_item p small {
        font-size: 14px;
    }

    .box_detail_magazine .box_item .big_item p.desc {
        margin-top: 2px;
        font-size: 13px;
        line-height: 16px;
        /*height: 54px;*/
        height: 65px;
        overflow: hidden;
    }

    .magazine_item h3 a {
        font-size: 16px;
        display: block;
        text-overflow: ellipsis;
        white-space: normal;
        overflow: hidden;
        font-family: Roboto;
        font-weight: bolder;
    }

    .magazine_item p.desc {
        font-family: Roboto;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 0px;
        font-size: 12px;
        height: 53px;
        overflow: hidden;
    }

    .box-banner h2 {
        font-size: 28px;
        font-family: Roboto;
        font-weight: bold;
        margin-top: 10px;
        padding: 0 25px;
        margin-bottom: 5px;
    }

    .magazine_item {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    h3.title.fs-24 {
        font-size: 16px !important;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .blog_desc h3 a {
        display: block;
        font-size: 15px;
        font-family: Roboto;
        font-weight: 900;
        color: #da0000;
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .blog_desc p.desc {
        font-size: 12px;
        font-family: Roboto;
        font-weight: 600;
        height: 69px;
        overflow: hidden;
        margin-bottom: 0;
    }

    .big_item_blog {
        background: #fff;
        border-radius: 15px;
        padding: 25px 20px;
        margin-bottom: 15px;
    }

    .form_post .form-group {
        margin-bottom: 10px;
    }

    .form_post p {
        font-size: 13px;
    }

    .bootstrap-tagsinput .tag {
        margin-right: 2px;
        color: white;
        height: 24px;
        line-height: 21px;
        font-size: 10px;
        border-radius: 20px;
        display: inline-block;
        background-color: #707070;
    }

    .box_detail {
        border-radius: 10px;
        background: #fff;
        padding: 10px 15px;
    }

    .box_detail h1.title {
        font-family: Roboto;
        font-weight: 900;
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 0px;
    }

    .box_detail .social_detail li {
        display: inline-block;
        float: left;
        height: auto;
        padding: 0px 9px;
        border-radius: 15px;
        margin-right: 3px;
    }

    .social_detail li.cmt a img {
        height: 17px;
    }

    .social_detail li.cmt a span {
        font-size: 13px;
        color: #d5d5d5;
        font-family: "SVN-Nexa Light";
    }

    .box-left .box_detail .content-slider-features {
        padding: 10px 20px 32px;
    }

    .box-left .box_detail .content-slider-features .item h3 a {
        font-size: 12px;
        padding: 8px 8px 0;
    }

    .box_relate .nav-tabs > li {
        float: left;
        margin-bottom: -1px;
        width: auto;
        text-align: center;
        line-height: 42px;
        border-radius: 12px 12px 0px 0;
        background: #f3f3f3;
        padding-left: 10px;
        padding-right: 10px;
    }

    .box_relate .nav-tabs > li a {
        font-family: UTMNeutra;
        border: 0 !important;
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block;
        padding: 0;
        border-bottom: 4px solid #f3f3f3 !important;
        line-height: 30px;
        cursor: pointer;
        position: relative;
        z-index: 99;
    }

    .box-left .content-slider-features {
        padding: 0px 10px 2px;

    }

    .box-left .tab-content .content-slider-features {
        padding: 0px 10px 2px;
        margin: 0;
    }

    .box-left .box_item {
        margin-top: 10px;
    }

    .social_detail li a {
        font-family: SVN-Nexa;
        font-size: 10px;
        color: #fff;
        display: block;
        line-height: 17px;
    }

    .btn_send_post a {
        border: 1px solid #b70000;
        border-radius: 11px;
        line-height: 30px;
        min-width: 105px;
        text-align: center;
        color: #b70000;
        font-family: "SVN-Nexa Light";
        font-size: 13px;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        margin: 10px 0;
    }

    .btn_send_post a img {
        height: 19px;
    }

    .box-left.box-index .content-slider-features {
        padding: 15px 25px 2px;
    }

    .box_post_magazine .profile_info h3 {
        padding-top: 7px;
        color: #b90000;
        font-family: Roboto;
        font-weight: 900;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 6px;
    }

    .box_profile_detail .pr-0 {
        padding-right: 15px !important;
    }

    .box_detail_magazine .item_reply .box_desc p.btn_action {
        margin-top: 8px;
    }

    .box-left {
        padding-right: 15px !important;
    }

    .login_form .box_input {
        margin-bottom: 8px;
    }

    .magazine header {
        overflow: visible;
    }

    .box_search_top .form_search input {
        left: auto;
        right: 0;
        margin-right: 0;
        top: 100%;
    }
}